

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

 /* Estilos personalizados para la barra de navegación */
 
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 1;
}

.nav div.logo {
  display: flex;
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 14px;
}

.nav div.logo a:hover {
  color: #00e6e6;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 14px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 16px;
  font-weight: 600;
}

.nav div.main_list ul li a:hover {
  color: #d4d9dfd5;
}

.nav .container .logo .nav-logo{
  width: 59px;
    height: 55px;
    border-radius: 64%;
    background-color: #472794; 
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgb(8 135 72 / 81%) 0%, rgb(9 153 45 / 65%) 25%, rgb(35 143 8 / 70%) 75%, rgba(5, 192, 5, 0.61) 100%);
 
      /*same background color of navbar*/
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: center;
      height: auto;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      margin: 10px;
      box-sizing: border-box;
      font-size: 23px;
      padding: 20px;
  }
  .nav div.media_button {
      display: block;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background: linear-gradient(90deg, rgb(8 135 72 / 81%) 0%, rgb(9 153 45 / 65%) 25%, rgb(35 143 8 / 70%) 75%, rgba(5, 192, 5, 0.61) 100%);
  
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
}

/* carrucel seccion */
.Carrusel-ini {
  position: relative;
  overflow: hidden;
}

.carrousel {
  width: 100%;
}

.grande {
  display: flex;
  transition: transform 0.5s ease;
}

.img {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.imagenes {
  width: 100%;
  height: 605px;
  
}
.carrousel .puntos {
  width: 100%;
  margin: 0.5 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em; /* Ajusta el margen entre los puntos según sea necesario */
  background-color: #ccc; /* Color de fondo predeterminado */
  border-radius: 50%; /* Para hacer que los puntos sean círculos */
  transition: background-color 0.3s ease; /* Transición del color de fondo */
  cursor: pointer; /* Cambia el cursor al pasar sobre los puntos */
}

.carrousel .punto.activo {
  background-color: #0f6b07; /* Color de fondo cuando el punto está activo */
}

/*instiutcional */
.titulo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.titulo img {
  
    margin-left: 20px;
    width: 44%;
    height: 100%;

}

.texto {
  text-align: right; /* Ajusta la alineación del texto */
}

h5{
  font-size: 20px;
    color: rgb(24, 97, 5);
}

h2{
  font-size: 34px;
  margin-right: 43px;
  margin-top: auto;

}
.Historia {
  font-size: 20px;
  font-weight: 100;

  padding: 10px;
  clear: both; /* Asegura que la altura de .Historia se ajuste al contenido flotante */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

p {
  margin: 0 0 10px; /* Ajusta el margen del párrafo según sea necesario */
}
.galeria-1 p{
  text-align: center;

}
.Historia img{
  width: 44%;
  height: 100%;
  margin-right: 20px;
}

.caracteristica{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}
.caracteristica .texto_cuadrado p{
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}
.caracteristica img {
  margin-left: 20px;
  width: 44%;
  height: 100%;
}
.final{
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

/*seccion servicio*/
#Servicios {
  text-align: center;
  background-color: rgb(5 133 25 / 75%);
  color: #fff;
}

#Servicios h4 {
  border-bottom: 2px solid #f3ecec; /* Línea debajo del h4 */
  font-size: 26px;
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
}
#Servicios p{
  font-size: 20px;
}

.prev-lista{
  margin-top: 15px;
  margin-left: 10px;
  column-count: 2; /* Divide la lista en tres columnas */
  column-gap: 20px; /* Espacio entre las columnas */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  list-style: none; /* Elimina los puntos de lista predeterminados */
}
.prev-lista li a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.prev-list-mod{
margin-top: 20px;
column-count: 3;
column-gap: 20px;
list-style: none;

}
.prev-list-mod a{
text-decoration: none;
color: rgb(4, 85, 31);
font-size: 20px;
font-weight: bold;
}
.modal-content {
  background: #ffffffe0;
  
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 10%;

  position:relative;
  display: flex;
  flex-direction: column;
  
  pointer-events: auto;
 
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);

  outline: 0;
}
.modal-content h5{
  color: rgb(19, 102, 8);
  font-size: 25px;
  margin: 5px;
  border-bottom: 2px solid #1a5f05; /* Línea debajo del h4 */
}
.modal-content h6{
  font-size: 20px;
  margin: 2px;
  color: rgb(4, 95, 31);
}

.close-button {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.map {
width: 100%;
height: 300px;
margin-top: 10px;
}

.modal .modal-content h3{
  font-weight: 600;
  color: rgb(4, 95, 31);
  font-size: 24px;
  border-bottom: 2px solid rgb(4, 95, 31); /* Línea debajo del h4 */
  
}

.modal-content p {
  color: rgb(4, 95, 31);
  font-weight: 600;
}
.marcas-productos{
  padding: 10px;
  margin-bottom: 10px;  
}
 .img-serv{
  background-color: #fff;
}
.img-serv img{
  width: 40%;
}
/*estilos para la seccio contacto*/
#Contacto{
  background: linear-gradient(90deg, rgb(8 135 72 / 81%) 0%, rgb(9 153 45 / 65%) 25%, rgb(35 143 8 / 70%) 75%, rgba(5, 192, 5, 0.61) 100%);

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  color: #f2f5fa;
}
.contacto-area {
  margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.contacto-area h2{
  margin: 0;
}

.contacto-area p{
  margin: 0;
}
.contacto-area a {
  color: white;
}
footer{
  background: #058119b8;
  padding: 5px;
  color: white;
}
footer p{
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

footer a {
  color: white;
  font-size: 14px;
}
/*responsive para tableta y mobile*/
@media screen and (min-width: 2560px) {
 .nav{
  height: 95px;
 }
 .nav div.logo a{
  font-size: 24px;
  padding-top: 10px;
 }
 .nav .container .logo .nav-logo{
  width: 99px;
  height: 85px;
 }
 .nav div.main_list ul li a{
  font-size: 26px;
  line-height: 94px;
 }
 .imagenes{
  height: 100%;
 }
 .carrousel .punto{
  width: 2.5em;
    height: 2.5em;
 }
 h5{
  font-size: 48px;
 }
 .Historia{
  font-size: 36px;
 }
 .caracteristica .texto_cuadrado p{
  font-size: 36px;
 }
 .final{
  font-size: 36px;
 }
 #Servicios h4{
  font-size: 38px;
 }
 #Servicios p{
  font-size: 36px;
  padding-bottom: 10px;
 }
 .prev-lista li a {
  font-size: 33px;
 }
 .modal{
  top: 95px;
 }
 .modal-content{
  margin: 5%;
 }
 .modal .modal-content h3{
  font-size: 35px;
 }
 .prev-list-mod a{
  font-size: 29px;
 }
 .modal-content h5{
  font-size: 38px;
 }
 .contacto-area{
  font-size: 21px;
 }
 footer p {
  font-size: 20px;
 }
 footer a{
  font-size: 25px;
 }
}
@media screen and (max-width: 768px) {
  .nav div.logo{
    padding: 0;
    margin: 0;
  }

  .nav div.main_list {
    display: none;
    position: absolute;
    top: 65px; /* altura de tu barra de navegación */
    left: 0;
    width: 100%;
    background-color: #217f8b; /* Color de fondo del menú */
  }

  .nav div.show_list {
    display: block;
  }
/*fin del navbar*/
/*institucional*/
#Institucional .titulo .texto h5{
  text-align: center;
}
  #Institucional .titulo .texto h2{
    font-size: 20px;
  }
  .titulo{
    flex-direction: column;
  }
  .titulo img{
    margin: 0;
    width: 100%;
  }
  .Historia{
    flex-direction: column-reverse;
  }
  .Historia img{
    width: 100%;
    margin: 0;
  }
  .caracteristica{
    flex-direction: column;
    padding: 10px
  }
 
  .caracteristica img{
    margin-left: 0;
    width: 100%;
  }
/*modal*/
.modal-content h5{
  font-size: 20px;
}
#Servicios .modal-content p{
  font-size: 13px;
}
.prev-list-mod a{
font-size: 15px;
}
.prev-list-mod{
  padding: 0;
}
}