

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
body::-webkit-scrollbar {
	width: 7px;
	background: rgba(219, 223, 219, 0.959);
}

body::-webkit-scrollbar-thumb {
	background: rgba(4, 105, 0, 0.8);
	border-radius: 5px;
	border-right: 2px solid rgb(242, 211, 242);
}

 /* Estilos personalizados para la barra de navegación */
 
.nav {
  width: 100%;
  height: 65px;
  position: absolute;
  line-height: 65px;
  text-align: center;
  z-index: 1;
  background: linear-gradient(90deg, rgb(8 135 72 / 81%) 0%, rgb(9 153 45 / 65%) 25%, rgb(35 143 8 / 70%) 75%, rgba(5, 192, 5, 0.61) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
}

.nav div.logo {
  display: flex;
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 14px;
}

.nav div.logo a:hover {
  color: #00ff15;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 14px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 16px;
  font-weight: 600;
}

.nav div.main_list ul li a:hover {
  color: #00ff15;
}

.nav .container .logo .nav-logo{
  width: 59px;
    height: 55px;
    border-radius: 64%;
    background-color: #472794; 
}

.navTrigger {
  display: none;
}

.nav {
  
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Media qurey section */
@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgb(8 135 72 / 81%) 0%, rgb(9 153 45 / 65%) 25%, rgb(35 143 8 / 70%) 75%, rgba(5, 192, 5, 0.61) 100%);
 
      /*same background color of navbar*/
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: center;
      height: auto;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      margin: 10px;
      box-sizing: border-box;
      font-size: 23px;
      padding: 20px;
  }
  .nav div.media_button {
      display: block;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

/* carrucel seccion */
.Carrusel-ini {
  position: relative;
  overflow: hidden;
}

.carrousel {
  width: 100%;
}

.grande {
  display: flex;
  transition: transform 0.5s ease;
}

.img {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.imagenes {
  width: 100%;
  height: 680px;
  
}
.carrousel .puntos {
  width: 100%;
  margin: 0.5 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.301);
}

.carrousel .punto {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em; /* Ajusta el margen entre los puntos según sea necesario */
  background-color: #0c7a0249; /* Color de fondo predeterminado */
  border-radius: 50%; /* Para hacer que los puntos sean círculos */
  transition: background-color 0.3s ease; /* Transición del color de fondo */
  cursor: pointer; /* Cambia el cursor al pasar sobre los puntos */
}

.carrousel .punto.activo {
  background-color: #0f6b07; /* Color de fondo cuando el punto está activo */
}

/*instiutcional */
.about {
  background-color: #f5f5f5;
  padding: 50px;
}

.about .container {
  text-align: justify;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.text-columnas {
  width: 100%;
  column-count: 2;
  column-gap: 30px;
}

.text-columnas div {
  margin-bottom: 30px;
}
/*GALERIA*/

#galeria img
{
	filter: grayscale(1);
}

#galeria .cuadrado-perfecto:hover img
{
	filter: grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4
{
	display: none;
}

.cuadrado-perfecto
{
	 width: 100%;
	 padding-bottom: 100%;
     position: relative;
}

.cuadrado-perfecto img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
    position: absolute; 
    top: 0;
    left: 0;
}

.container
{
    width: 100%;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.container-fluid
{
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.columna
{
    padding-right: 15px;
    padding-left: 15px;
}

.columna-25
{
	width: 25%;
}

.columna-33
{
	width: 33.33%;
}

.columna-41
{
	width: 41.66%;
}

.columna-50
{
	width: 50%;
}

.empujar-50
{
	margin-left: 50%;
}

.empujar-58
{
	margin-left: 58.33%;
}

.empujar-0
{
	margin-left: 0;
}



/*seccion servicio*/
#Servicios {
  text-align: center;
  background-color:#048f1be5;
  color: #fff;
  margin: 10px;
  padding: 3px;
}

#Servicios h4 {
  border-bottom: 2px solid #f3ecec; /* Línea debajo del h4 */
  font-size: 26px;
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
}
#Servicios p{
  font-size: 20px;
}

.prev-lista{
  margin-top: 15px;
  margin-left: 10px;
  column-count: 2; /* Divide la lista en tres columnas */
  column-gap: 20px; /* Espacio entre las columnas */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  list-style: none; /* Elimina los puntos de lista predeterminados */
}
.prev-lista li a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.modal {
display: none;
  position: fixed;
 
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 97%);
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow-y: auto;
}
.contenido-container-modal{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    text-align: left;
    background: #048f1be5;
    margin: 29px;
}

.prev-list-mod{
margin-top: 20px;

list-style: none;

}
.prev-list-mod a{
text-decoration: none;
color: rgb(234, 241, 237);
font-size: 20px;
font-weight: bold;
}
.prev-list-mod li{
  padding: 5px;
}

.contenido-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
 background: #048f1be5;
}
.contenido-container-interior{
 
  justify-content: space-evenly;
  align-items: center;
  padding: 13px 0;
 background: #048f1be5;
 margin: 10px;
}
.info-content-interior{

  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info-content-interior h2{
  font-size: 18px;
  text-align: justify;
}

.info-content-interior h3{
  font-size: 21px;
    text-align: justify;
    margin: 6px;
}
.profile-text {
  margin-left: 10px;
  font-size: 20px;
}
.phone-container {
  display: flex;
  align-items: center;
}
.phone-container-interior {
  display: flex;
  align-items: center;
}
.profile-container-interior{
  display: flex;
  align-items: center;
}
.info-content {
  padding: 15px;
  text-align: left;
  color: rgb(251, 251, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.img-map .reyes{
  width: 75%;
  height: 100%;
  background-color: #fff;
}
/* Estilos para el botón de cierre */
.close-button {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior según sea necesario */
  right: 10px; /* Ajusta la distancia desde la derecha según sea necesario */
  width: 30px; /* Ajusta el ancho del botón según sea necesario */
  height: 30px; /* Ajusta la altura del botón según sea necesario */
  border: none;
  border-radius: 50%;
  background-color: #0cda16; /* Color de fondo del botón */
  color: #000000; /* Color del texto del botón */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Estilos adicionales para el botón si es necesario */
.close-button:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

/* Otros estilos de tu modal si es necesario */


.map {
width: 100%;
height: 300px;
margin-top: 10px;
}

.marcas-productos{
  padding: 10px;
  margin-bottom: 10px;  
}
 .img-serv{
  background-color: #fff;
}
.img-serv img{
  width: 40%;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
 background: gainsboro;
}


.contact-content {
  max-width: 400px;
  background-color: #038d03be;
  padding: 15px;
  color: white;
}
.profile-container {
  display: flex;
  align-items: center;
}
.title {
  margin-bottom: 30px;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact-info h3 {
  margin-bottom: 10px;
  color: #faf1f1;
}

.infocon {
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 16px;
  font-size: 14px;
}

.contact-map {
  flex-basis: 60%;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #fff;
}
.location-container {
  display: flex;
  align-items: center;
}
.location-text {
  margin-left: 10px;
  font-size: 14px;
}
.phone-container {
  display: flex;
  align-items: center;
}
.phone-text {
  margin-left: 10px;
  font-size: 14px;
}
.email-container {
  display: flex;
  align-items: center;
}
.email-text {
  margin-left: 10px;
  font-size: 14px;
}

footer{
  background: #048f1be5;
  padding: 5px;
  color: white;
}
footer p{
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

footer a {
  color: white;
  font-size: 14px;
}
 .prev-list-mod a:hover{
  color: #68f374;
 }
/*modal agregados*/

/*responsive para tableta y mobile*/
@media screen and (min-width: 2560px) {
 .nav{
  height: 95px;
 }
 .nav div.logo a{
  font-size: 24px;
  padding-top: 10px;
 }
 .nav .container .logo .nav-logo{
  width: 99px;
  height: 85px;
 }
 .nav div.main_list ul li a{
  font-size: 26px;
  line-height: 94px;
 }
 .imagenes{
  height: 100%;
 }
 .carrousel .punto{
  width: 2.5em;
    height: 2.5em;
 }
 h5{
  font-size: 48px;
 }
 #Servicios h4{
  font-size: 38px;
 }
 #Servicios p{
  font-size: 36px;
  padding-bottom: 10px;
 }
 .prev-lista li a {
  font-size: 33px;
 }
 .modal{
  display: none;
  top: 95px;
  
 }
 
 .prev-list-mod a{
  font-size: 29px;
 }
 
 footer p {
  font-size: 20px;
 }
 footer a{
  font-size: 25px;
 }
}
@media screen and (max-width: 768px) {
  .nav div.logo{
    padding: 0;
    margin: 0;
  }

  .nav div.main_list {
    display: none;
    position: absolute;
    top: 65px; /* altura de tu barra de navegación */
    left: 0;
    width: 100%;
    background-color: #217f8b; /* Color de fondo del menú */
  }

  .nav div.show_list {
    display: block;
  }
/*fin del navbar*/
/*institucional*/
.text-columnas{
  column-count: auto;
}
/*modal*/

.prev-list-mod a{
font-size: 11px;
}
.prev-list-mod{
  padding: 10px;
  margin: 0;
}
.imagenes{
  height: 470px;
}
.contact-container{
  display: block;
  align-items: normal;
}
.contact-content{
  max-width: none;
  padding: 0 15px;
}
.contenido-container{
  display: block;
  padding: 0;
}
.info-content h2{
  font-size: 26px;
}
.profile-text{
  font-size: 18px;
}
.info-content h3{
  margin-top: 10px;
}
.Preventistas{
  font-size: 20px;
}
#scroll{
  max-height:450px; /* Altura máxima de la lista antes de que aparezca el scroll */
  overflow-y: auto; /* Agrega un scroll vertical si el contenido excede la altura máxima */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  margin: 0; /* Elimina el margen predeterminado de la lista */
  list-style-type: none; /* Elimina los marcadores de lista */
}
#scroll::-webkit-scrollbar {
  width: 7px;
  background: rgba(219, 223, 219, 0.959);
}

#scroll::-webkit-scrollbar-thumb {
background: rgba(26, 202, 3, 0.8);
border-radius: 5px;
border-right: 2px solid rgb(242, 211, 242);
}
}

@media screen and (min-width: 425px){

  .contact-container{
    padding: 0;
  }
  #scroll{
    max-height:450px; /* Altura máxima de la lista antes de que aparezca el scroll */
    overflow-y: auto; /* Agrega un scroll vertical si el contenido excede la altura máxima */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    list-style-type: none; /* Elimina los marcadores de lista */
  }
  #scroll::-webkit-scrollbar {
    width: 7px;
    background: rgba(219, 223, 219, 0.959);
  }

#scroll::-webkit-scrollbar-thumb {
	background: rgba(26, 202, 3, 0.8);
	border-radius: 5px;
	border-right: 2px solid rgb(242, 211, 242);
}
  .Preventistas{
    padding-right: 10px;
    margin-right: 10px;
  }
  
}
@media screen and (max-width: 425px){
  .info-content-interior h2{
    font-size: 16px;
  }
  .contenido-container-modal{
    display: block;
  }
  .profile-text{
    margin-left: 5px;
    font-size: 17px;
  }
  .info-content-interior h3{
    font-size: 17px;
  }
  #Servicios h4{
    font-size: 20px;
  }
  #scroll{
    max-height:450px; /* Altura máxima de la lista antes de que aparezca el scroll */
    overflow-y: auto; /* Agrega un scroll vertical si el contenido excede la altura máxima */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    list-style-type: none; /* Elimina los marcadores de lista */
  }
  #scroll::-webkit-scrollbar {
    width: 7px;
    background: rgba(219, 223, 219, 0.959);
  }

#scroll::-webkit-scrollbar-thumb {
	background: rgba(26, 202, 3, 0.8);
	border-radius: 5px;
	border-right: 2px solid rgb(242, 211, 242);
}

.img-map{
  padding-bottom: 10px;
}
}